@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: Lato, 'Source Sans Pro', sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #111;
}

h3 {
	padding: 50px;
}

h1, h2, h3 {
	text-transform: uppercase;
	font-weight: 300;
}

#top {
	background: url('images/mebgbw.jpg') no-repeat;
	background-size: cover;
	height: 700px;
}

#main {
	padding: 0px 10px 220px 10px;
	color: #3A3A3A;
	font-size: 30px;
	background-color: transparent;
}

.logo {
	margin-top: 50px;
	width: 250px;
	background-color: #111111;
	color: #fff;
	border: 1px solid #3A3A3A;
	text-align: center;
	display: block;
	line-height: 2px;
}

.logo-desc {
	text-shadow: 0 1px 4px rgba(255,255,255,0.4);
}

.section-wrapper {
	background-color: #FAFAFA; /*E9EAE5*/
	border-top: 0px solid black;
	padding-bottom: 50px;
}

section div {
	-o-transition: color .2s ease-out, background .2s ease-in;
	-ms-transition: color .2s ease-out, background .2s ease-in;
	-moz-transition: color .2s ease-out, background .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in;
	/* ...and now override with proper CSS property */
	transition: color .2s ease-out, background .2s ease-in;
}

#work {
	text-align: left;
	border-right: 5px solid #FAFAFA;
	border-bottom: 3px solid #FAFAFA;
	color: #000;
	padding: 10px;
}

#work a {
	text-decoration: underline;
}

#work a:hover {
	text-decoration: none;
}

#work h3 {
	text-transform: none;
	font-weight: bold;
	padding-bottom: 0px;
}

#work ul {
	list-style-type:none;
	padding: 0px;
}

#work ul li {
	line-height: 25px;
	padding: 10px 10px 10px 0px;
	border-bottom: 1px solid black;
}

#projects .project-header {
	background-color: #E9EAE5; /* 3A3A3A */
	border-right: 5px solid #FAFAFA;
	border-bottom: 3px solid #FAFAFA;
	height: 400px;
}

#projects .project-header:hover {
	background-color: #3A3A3A;
	color: #fafafa;
}

.project-container {
	background-color: #cccccc;
	border-right: 5px solid #FAFAFA;
	border-bottom: 3px solid #FAFAFA;
	height: 400px;
}

#projects a {
	text-align: center;
	color: #000;
}

#projects ul li {
	padding: 10px 20px 10px 0px;
	list-style-type: none;
	border-bottom: 1px solid black;
}

#social div {
	background-color: #E9EAE5; /* 3A3A3A */
	text-align: center;
	border-right: 5px solid #FAFAFA;
	border-bottom: 3px solid #FAFAFA;
	color: #000;
}

#social h3 {
	padding: 10px;
}
#social div:hover {
	background-color: #1F5586;
	color: #fafafa;
}

footer {
	background-color:#3A3A3A;
	color: #fafafa;
	text-align: right;
	padding: 50px 0px 50px 0px;
}


/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width : 380px) {
	#top {
			background: none;
			height: 450px;
	}	
	#main {
		padding: 10px;
	}
	
	.logo { 
		width: 100%;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 380px) and (max-width : 568px) {
	#top {
			background-size: 100%;
			height: 350px;
	}	
	#main {
		padding: 10px;
	}
	
	.logo { display: none}
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 568px) and (max-width : 768px) {
	#top {
			background-size: 100%;
			height: 400px;
	}	
	#main {
		padding: 10px;
	}
	
	.logo { display: none}
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) {
	#top {
			background-size: 100%;
			height: 100%;
	}	
	#main {
		padding: 10px;
	}
	
	.logo { width: 200px;}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#top {
			color: red;
			background-size: 1024px;
	}
}